:root {
  --background: #280000;
  --foreground: #171717;
  --rubyred: #B10F2E;
  --blackcherry: #570000;
  --richmahogany: #280000;
  --burntpeach: #DE7C5A;
}


body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.navbar {
  --bs-navbar-brand-color: white;
  --bs-navbar-brand-hover-color: var(--bs-navbar-brand-color);
  --bs-navbar-brand-font-size: 24px;
  --bs-nav-link-font-size: var(--bs-navbar-brand-font-size);
  --bs-navbar-padding-x: 15px;
  --bs-navbar-padding-y: var(--bs-navbar-padding-x);
  background: var(--rubyred);
  margin: 10px;
}

.nav-link {
  color: white;
}

.box {
  background-color: var(--blackcherry);
  padding: 15px;
  border-radius: 5px;
  margin-bottom:15px;
  height: 100%;
}

.inner-box {
  background-color: rgb(222, 124, 90, .3);
  padding: 25px;
  border-radius: 5px;
  height:100%;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color:var(--rubyred);
  background-color: white;
}
